* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border-radius: 20%;
  height: 30px;
  font-size: 16;
}

#datetime-picker {
  height: 30px;
  font-size: 16;
  color: darkmagenta;
}
.timer {
  display: flex;
  justify-content: start;
}

.label {
  margin-top: 20px;
  color: darkblue;
  font-size: 25;
}

.field {
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  margin-right: 10px;
}

.value {
  display: flex;
  justify-content: center;
  color: darkmagenta;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 35;
}
.value__seconds--active {
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
